#header {
	display: block;
	height: 55px;
}

#content {
	display: block;
}

#footer {
	font: 10px arial;
	display: block;
	height: 25px;
	width: 100%;
	background-color: #eee;
	border-top: 0px solid #bbb;
	padding-top: 4px;
	padding-left: 10px;
}